<!DOCTYPE html>
<html>
  <head>
    <title>Wowio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="header">
  <h1>Landing Page for the WoWIO Project</h1>

 
</div>

<div class="topnav">
  <a href="/">Home</a>
  <a href="#">Stats</a>
  <a href="/profiles">Profiles</a>
</div>


    <%= yield %>
  </body>
</html>
